<footer>
  <br>
  <br>
  <br>
   <nav class="navbar fixed-bottom navbar-dark bg-dark">
    <h1 class="navbar-text" style="font-size: small;">&copy;2023 All rights reserved TK</h1>
  
  </div>
</nav>
    <footer>