<%-include partials/header.ejs%>
  <!--Main nav Navigation-->
  
<main class="container">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to the <%= title %> Page</h1>
  </main>

  <footer>
   <nav class="navbar fixed-bottom navbar-dark bg-dark">
    <h1 class="display-6 navbar-text">&copy;2023 All rights reserved</h1>
  
  </div>
</nav>
    <footer>
  
  <!--script section-->
  
  <%-include partials/footer.ejs%>




