<%-include partials/header.ejs%>

  <!--Main nav Navigation-->
  
<main class="container">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to the <%= title %> Page</h1>
  </main>

  
  
  <!--script section-->
  
  <%-include partials/footer.ejs%>




